.app-logo {
  width: 30px;
}
.logo-text {
  margin-left: 5px;
}
.parent-content {
  padding: 15px;
}
.search-bar {
  position: absolute;
  right: 25px;
  width: 250px;
  border: none;
  font-size: 14px;
  background-color: gainsboro;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.orange {
  background: orange;
}

.turquoise {
  background: turquoise;
}
